.greyHeadingsFirst {
  text-align: left;
  font: normal normal bold 16px/40px TKT;
  letter-spacing: 0px;
  color: #696974;
}
.greyHeadings {
  font: normal normal normal 14px/40px TKT;
  letter-spacing: 0px;
  color: #92929d;
}
.greenText {
  font: normal normal normal 14px/40px TKT;
  color: #99cc66;
}
.boldHeading {
  font: normal normal bold 14px/40px TKT;
  letter-spacing: 0px;
  color: #171725;
  opacity: 1;
}
.lastHeading {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 14px/40px TKT;
  letter-spacing: 0px;
  color: #171725;
  opacity: 1;
}

/* FilterSide */

.filterConteiner,
.contentConteiner {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
}

.filterConterSearch {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e5e5ed;
  border-radius: 10px;
  height: 60px;
  font: normal normal bold 16px/22px TKT;
  letter-spacing: 0px;
  color: #171725;
  width: 100%;
  background-size: 25px 20px;
  background-position: right;
}

.filterNames {
  text-align: left;
  font: normal normal bold 16px/40px TKT;
  letter-spacing: 0px;
  color: #171d25;
  opacity: 1;
}

.form-check-input:checked {
  background-color: #99cc66 !important;
  border-color: #99cc66 !important;
}

.lariP {
  font: normal normal bold 16px/22px TKT;
  letter-spacing: 0px;
  color: #171725;
}

.dolariP {
  font: normal normal normal 12px/22px TKT;
  letter-spacing: 0px;
  color: #696974;
}

.contentConteiner :last-child {
  border: none !important;
}
.addToCart {
  background-color: #99cc66;
  width: 25%;
  height: 70%;
  border-radius: 10px;
}
.notFound {
  font: normal normal bold 18px/26px TKT;
  letter-spacing: 0px;
  color: #696974;
  opacity: 1;
}
.notFoundDescription {
  text-align: center;
  font: normal normal normal 14px/22px TKT;
  letter-spacing: 0px;
  color: #92929d;
  opacity: 1;
}
.sortConteiners {
  background-color: #fafafb;
  width: 100% !important;
}
.sortButtons {
  background-color: #ffffff;
  border: 1px solid #e5e5ed;
  border-radius: 10px;
  opacity: 1;
  border: none;
  color: #696974;
  width: 90%;
  display: none;
}

/* popUp */

.popUp {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.popUp > p {
  text-align: left;
  font: normal normal bold 16px/23px TKT;
  letter-spacing: 0px;
  color: #696974;

}

.popUp > button {
  width: 90%;
  background: #003333 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal bold 16px/40px TKT;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
}

@media only screen and (max-width: 768px) {
  .contentConteiner {
    width: 100% !important;
  }
  .maxWidth{
    width: 100% !important;
  }

}
